@font-face {
    font-family:Poppins ;
    src: url(Poppins/Poppins-Light.ttf);
}
/* Our Blogs */

#OurBlogs {
position: absolute;
width: 98px;
height: 30px;
align-items: center;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 149.8%;
/* identical to box height, or 30px */

text-align: center;

color: #444BAB;
}
/* Rectangle 333 */

.rectangle333 {
box-sizing: border-box;

position: absolute;
width: 418px;
height: 545px;
left: 519px;
top: 2985px;

background: #FFFFFF;
border: 1px solid rgba(132, 144, 199, 0.35);
}
/* Rectangle 331 */

.rectangle331 {
box-sizing: border-box;

position: absolute;
width: 352px;
height: 471px;
left: 129px;
top: 3024px;

background: #FFFFFF;
border: 1px solid rgba(132, 144, 199, 0.35);
}
/* Rectangle 332 */

.rectangle332 { 
box-sizing: border-box;

position: absolute;
width: 352px;
height: 471px;
left: 973px;
top: 3024px;

background: #FFFFFF;
border: 1px solid rgba(132, 144, 199, 0.35);
}
/* Our Blogs */

.ourblogs {
position: absolute;
width: 98px;
height: 30px;
left: 658px;
top: 2798px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 149.8%;
/* identical to box height, or 30px */

text-align: center;

color: #444BAB;
}
/* Read Our Blogs */

.readourblogs {
position: absolute;
width: 278px;
height: 54px;
left: 575px;
top: 2846px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 149.8%;
/* identical to box height, or 54px */

text-align: center;

color: #4F516B;
}
/* Rectangle 330 */


/* Read More Blogs */

.readmoreblogs {
    
    position: absolute;
width: 128px;
height: 40px;
left: 662px;
top: 3589px;
    background: #444BAB;
    border-radius: 6px;
    font-family: 'Gilroy-Bold';
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    border: none;
    }
/* Inspiring and uplifting ideas which will help you feel positive about your career. */

.box1 {
position: absolute;
width: 715px;
height: 24px;
left: 363px;
top: 2924px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 149.8%;
/* or 27px */

text-align: center;

color: #000000;
}

/* It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout..... */

.text2 {
text-align: center;
width: 316px;
height: 75px;
left: 153px;
top: 3374px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 149.8%;
/* or 24px */


color: #5A5959;
}

/* Guide for an ultimate Tech Career */

.text1 {
text-align: center;
width: 284px;
height: 54px;
left: 153px;
top: 3296px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 149.8%;
/* or 27px */


color: #4F516B;
}

/* 10 Most Common Mistakes To Avoid While Preparing for FAANG Company Coding Interviews! */

.text3 {
text-align: center;
width: 356px;
height: 81px;
left: 554px;
top: 3288px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 149.8%;
/* or 27px */


color: #4F516B;
}

/* It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout..... */

.text4 {
text-align: center;
width: 342px;
height: 75px;
left: 555px;
top: 3386px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 149.8%;
/* or 24px */


color: #5A5959;
}

/* How to Ace your next Data Structures and Algorithms Interview? */

.text5 {
text-align: center;
width: 315px;
height: 81px;
left: 994px;
top: 3288px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 149.8%;
/* or 27px */


color: #4F516B;
}

/* It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout...... */

.text6 {
text-align: center;
width: 280px;
height: 75px;
left: 994px;
top: 3378px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 149.8%;
/* or 24px */
color: #5A5959;
}

